.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Hero syles*/
.Hero-Container{
  
  display:flex;
 
  justify-content:center;
  width:100%;

}
.Content{
  width:600px;

}
.Heading-1{
  padding-top:120px;
  font-size:48px;
  line-height:1.5;
  color:pink;
}
.HeroParagraph{
  font-size:16px;
  font-weight:600;
  margin-bottom:30px;
}
.Cta{
  
  background-color:pink;
  padding:16px 28px;
  border-radius:4px;
}
.Illustration{
  
  padding:20px;
}
.illustare{
  width:500px;
}